/* Chế độ sáng */
.theme-icon::before {
   content: "☀️";
   margin-right: 5px;
   font-size: 24px;
}

/* Chế độ tối */
body.dark-mode {
    background-color: black;
    color: rgb(175, 175, 175);
}

body.dark-mode .navbar {
    background-color: #333333;
}

body.dark-mode .navbar a, 
body.dark-mode .navbar .dropdown-btn {
    color: rgb(175, 175, 175);
}

body.dark-mode .navbar a:hover, 
body.dark-mode .navbar .dropdown-btn:hover {
    background-color: rgb(175, 175, 175); /* Màu nền khi di chuột vào mục tiêu đề */
    color: black; /* Nếu cần, có thể thay đổi màu chữ để dễ đọc hơn */
}

body.dark-mode .tips-container {
    background-color: #333333;
    border: 3px solid #666666;
}

body.dark-mode .dropdown-content {
    background-color: #666666;
    color: rgb(175, 175, 175);
}

body.dark-mode .dropdown-content a:hover {
    background-color: gray;
}

body.dark-mode button {
    background-color: #666666; /* Màu xám cho nút */
    color: rgb(175, 175, 175);
    border: 1px solid #444444;
}

body.dark-mode button:hover {
    background-color: #f0f0f0;
}

body.dark-mode .theme-icon::before {
    content: "🌙"; /* Chuyển sang icon mặt trăng */
}

body.dark-mode .tip-counter {
    color: rgb(175, 175, 175); /* Màu xám cho chế độ tối */
}

body.dark-mode .footer {
    background-color: #333333;
}

/* Chung */
.body-elements {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 0;
    padding-right: 0;
}

/* CSS cho thanh tiêu đề */
.navbar {
    background-color: #E3F2FD;
    padding: 10px;
    display: flex;

    justify-content: center;
    
    width: 100%;
    box-sizing: border-box; /* Đảm bảo không có khoảng trống bên ngoài */
    transition: background-color 0.1s;
}

.navbar a, .navbar .dropdown-btn {
   color: black;
   padding: 10px 15px;
   text-decoration: none;
   text-align: center;
   display: inline-block;
   font-size: 18px;
   cursor: pointer;
   background: none;
   border: none;
}

.navbar a:hover, .navbar .dropdown-btn:hover {
   background-color: #2196F3;
}

/* CSS cho các menu thả xuống */
.dropdown {
   position: relative;
   display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    max-height: 200px; /* Chiều cao tối đa của danh sách */
    overflow-y: auto; /* Thêm cuộn dọc nếu danh sách vượt quá chiều cao này */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 5px 0;
    
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    text-align: left;
    display: block; /* Đảm bảo nền phủ hết chiều rộng */
}

.dropdown-content a:hover {
   background-color: #ddd;
}

/* Hiển thị menu khi nhấn vào */
.show {
   display: block;
}

/* Thêm Icon */
.homepage-icon::before {
    content: "📚";
    margin-right: 5px;
    font-size: 24px;
 }

.infor-icon::before {
   content: "📖";
   margin-right: 5px;
   font-size: 24px;
}

.lightchase-icon::before {
   content: "🎡";
   margin-right: 5px;
   font-size: 24px;
}

.guilde-icon::before {
   content: "💡";
   margin-right: 5px;
   font-size: 24px;
}

.scene-icon::before {
   content: "🌄";
   margin-right: 5px;
   font-size: 24px;
}

.pose-icon::before {
   content: "💃";
   margin-right: 5px;
   font-size: 24px;
}

.alley-icon::before {
   content: "👬";
   margin-right: 5px;
   font-size: 24px;
}

.fashion-icon::before {
   content: "👗";
   margin-right: 5px;
   font-size: 24px;
}

.globe-icon::before {
   content: "🌐";
   margin-right: 5px;
   font-size: 24px;
}



body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;   
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.tipsh {
    text-align: center;
}

.tips-container {
    width: 90vw; /* Chiều rộng chiếm 90% khung nhìn */
    max-width: 600px; /* Giới hạn chiều rộng tối đa */
    border: 3px solid #2196F3; /* Viền màu xanh biển */
    border-radius: 10px;
    padding: 20px; /* Tạo khoảng cách đồng đều từ viền đến nội dung */
    background-color: #E3F2FD; /* Nền màu xanh nhạt */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s;
}

.tips-content {
    font-size: 1.2em;
    margin-bottom: 15px; /* Khoảng cách đồng đều giữa mẹo và các phần */
    text-align: justify; /* Căn đều hai bên khi có nhiều dòng */
    text-align-last: center; /* Căn giữa dòng cuối nếu chỉ có một dòng */
    word-wrap: break-word;
}

.tip-counter {
    font-size: 1em;
    color: black;
    margin-top: 20px; /* Tạo khoảng cách giữa số thứ tự và nút bấm */
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Khoảng cách giữa các nút bấm */
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    background-color: white;
}

button:hover {
    background-color: #f0f0f0;
}

.footer {
  text-align: center;
  background-color: #E3F2FD;
  padding: 20px 0;
  width: 100%;
  margin-top: auto;
  transition: background-color 0.1s;
  margin-bottom: 0;
}

footer p {
    font-size: 12px;
    text-align: center;
    margin-bottom: 0;
}

.version a {
    margin: 0 10px;
    display: inline-block;
}

.version img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.version img:hover {
    transform: scale(1.1);
}

/* Căn lề trái */
.align-left {
    left: 0;
    transform: translateX(0);
    }
    
    /* Căn giữa */
    .align-center {
    left: 50%;
    transform: translateX(-30%);
    }
    
    /* Căn lề phải */
    .align-right {
    right: 0;
    left: auto; /* Đặt left thành auto để chỉ điều chỉnh bên phải */
    transform: translateX(-50%);
    }

/* Khi màn hình nhỏ hơn 600px như Blackberry PlayBook */
@media (max-width: 600px) {
    .navbar .dropdown-btn {
        font-size: 0; /* Ẩn chữ bằng cách đặt font-size thành 0 */
    }
    .navbar .dropdown-btn::before {
        font-size: 24px; /* Giữ kích thước của icon */
        margin-right: 0; /* Xóa khoảng cách icon và chữ */
    }
    .tips-container, .question {
        width: 80vw; /* Chiều rộng chiếm 90% khung nhìn */
        max-width: 450px; /* Giới hạn chiều rộng tối đa */
    }
    
}

/*
Khi màn hình <= 480px như Nokia N9
Khi màn hình <= 360px như Moto G4
Khi màn hình <= 320px như galaxy S9+
Khi màn hình <= 240px như JioPhone2
*/
@media (max-width: 240px) {
    .navbar {
        flex-wrap: wrap; /* Cho phép các nút xuống dòng */
    }
    .navbar .dropdown-btn {
        font-size: 0; /* Ẩn chữ bằng cách đặt font-size thành 0 */
    }
    .navbar .dropdown-btn::before {
        font-size: 20px; /* Giữ kích thước của icon */
        width: 50vw; /* Chiều rộng chiếm 60% khung nhìn */
        max-width: 70px;
    }
    .tips-container, .question {
        width: 60vw; /* Chiều rộng chiếm 90% khung nhìn */
        max-width: 200px; /* Giới hạn chiều rộng tối đa */
    }
    
}

h1 {text-align: center;}

.qna {
    text-align: justify;
}

#searchBar {
    width: 80vw;
    padding: 10px;
    margin: 15px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#questionsContainer {
    text-align: justify; /* Căn đều hai bên cho nội dung */
    margin-top: 10px; /* Khoảng cách giữa thanh tìm kiếm và các câu hỏi */
}

#questionsContainer p {
    margin: 1.5em 0; /* Khoảng cách đều giữa các thẻ p */
    line-height: 1.4; /* Đảm bảo chiều cao dòng */
}

.cnfont {
    font-family: Simsun;
}

body.dark-mode input[type="text"] {
    background-color: #333333; /* Màu nền tối cho ô input */
    color: rgb(175, 175, 175); /* Màu chữ sáng */
    border: 1px solid #555555; /* Đường viền ô input */
    padding: 10px; /* Đệm bên trong cho ô input */
    border-radius: 5px; /* Bo góc cho ô input */
}

body.dark-mode input[type="text"]:focus {
    border-color: #007BFF; /* Đổi màu đường viền khi ô input được chọn */
    outline: none; /* Bỏ đường viền mặc định */
}
